<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records on Records</title>
</head>
<body>
    <h1>Yadda yadda</h1>
    <div id="container">
        <h2>Welcome to Records on Records</h2>
        <h3>Place your order!</h3>
        <form action="/process" method="post">
            <label>Artist Name</label>
            <input type="text" name="artist_name">
            <label>Genre</label>
            <input type="text" name="genre">
            <label>Albums</label>
            <input type="text" name="album">
            <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>